{% extends 'base.html.twig' %}

{% block title %}Modifier un abonnement - Gestion | Hive{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('sneat-1.0.0/assets/vendor/fonts/boxicons.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('sneat-1.0.0/assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ asset('sneat-1.0.0/assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ asset('sneat-1.0.0/assets/css/demo.css') }}" />
    <link rel="stylesheet" href="{{ asset('sneat-1.0.0/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <style>
        .abonnement-wrapper {
            max-width: 1200px;
            margin: 40px auto;
            padding: 30px;
            background: #ffffff;
            border-radius: 15px;
            box-shadow: 0 6px 25px rgba(0, 0, 0, 0.08);
        }
        .header-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 35px;
            border-bottom: 4px solid #696cff;
            padding-bottom: 15px;
        }
        .header-section h1 {
            font-size: 2.5rem;
            color: #2c3e50;
            margin: 0;
            font-weight: 700;
            letter-spacing: 0.5px;
        }
        .form-control:focus, .form-select:focus {
            border-color: #696cff;
            box-shadow: 0 0 8px rgba(105, 108, 255, 0.3);
        }
        .form-label {
            font-weight: 500;
            color: #2c3e50;
        }
        .form-errors {
            color: #dc3545;
            font-size: 0.9em;
            margin-top: 5px;
        }
        .btn-primary {
            background-color: #696cff;
            border-color: #696cff;
            transition: all 0.3s ease;
        }
        .btn-primary:hover {
            background-color: #5a5cff;
            border-color: #5a5cff;
            transform: translateY(-2px);
        }
        .btn-secondary {
            transition: all 0.3s ease;
        }
        .btn-secondary:hover {
            transform: translateY(-2px);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu latéral -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="{{ path('app_dashboard') }}" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <path d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z" id="path-1"></path>
                                    <path d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z" id="path-3"></path>
                                    <path d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z" id="path-4"></path>
                                    <path d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z" id="path-5"></path>
                                </defs>
                                <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                                        <g id="Icon" transform="translate(27.000000, 15.000000)">
                                            <g id="Mask" transform="translate(0.000000, 8.000000)">
                                                <mask id="mask-2" fill="white">
                                                    <use xlink:href="#path-1"></use>
                                                </mask>
                                                <use fill="#696cff" xlink:href="#path-1"></use>
                                                <g id="Path-3" mask="url(#mask-2)">
                                                    <use fill="#696cff" xlink:href="#path-3"></use>
                                                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                                                </g>
                                                <g id="Path-4" mask="url(#mask-2)">
                                                    <use fill="#696cff" xlink:href="#path-4"></use>
                                                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                                                </g>
                                            </g>
                                            <g id="Triangle" transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000)">
                                                <use fill="#696cff" xlink:href="#path-5"></use>
                                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">HIVE</span>
                    </a>
                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>
                <div class="menu-inner-shadow"></div>
                <ul class="menu-inner py-1">
                    <li class="menu-item">
                        <a href="{{ path('app_dashboard') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Dashboard</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{{ path('app_service_index') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-cog"></i>
                            <div data-i18n="Services">Services</div>
                        </a>
                    </li>
                    <li class="menu-item active">
                        <a href="{{ path('app_abonnement_index') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-cog"></i>
                            <div data-i18n="Abonnements">Abonnements</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{{ path('app_type_abonnement_index') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-cog"></i>
                            <div data-i18n="Association">Types d'abonnement</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-layout"></i>
                            <div data-i18n="Layouts">Layouts</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Without menu">Without menu</div></a></li>
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Without navbar">Without navbar</div></a></li>
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Container">Container</div></a></li>
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Fluid">Fluid</div></a></li>
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Blank">Blank</div></a></li>
                        </ul>
                    </li>
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Pages</span></li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-dock-top"></i>
                            <div data-i18n="Account Settings">Account Settings</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Account">Account</div></a></li>
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Notifications">Notifications</div></a></li>
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Connections">Connections</div></a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                            <div data-i18n="Authentications">Authentications</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item"><a href="#" class="menu-link" target="_blank"><div data-i18n="Basic">Login</div></a></li>
                            <li class="menu-item"><a href="#" class="menu-link" target="_blank"><div data-i18n="Basic">Register</div></a></li>
                            <li class="menu-item"><a href="#" class="menu-link" target="_blank"><div data-i18n="Basic">Forgot Password</div></a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                            <div data-i18n="Misc">Misc</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Error">Error</div></a></li>
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Under Maintenance">Under Maintenance</div></a></li>
                        </ul>
                    </li>
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Components</span></li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-collection"></i>
                            <div data-i18n="Basic">Cards</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0)" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-box"></i>
                            <div data-i18n="User interface">User interface</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Accordion">Accordion</div></a></li>
                            <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Alerts">Alerts</div></a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <!-- / Menu -->

            <!-- Contenu principal -->
            <div class="layout-page">
                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search..." />
                            </div>
                        </div>
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <li class="nav-item lh-1 me-3">
                                <a class="github-button" href="https://github.com/themeselection/sneat-html-admin-template-free" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star themeselection/sneat-html-admin-template-free on GitHub">Star</a>
                            </li>
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="{{ asset('sneat-1.0.0/assets/img/avatars/1.png') }}" alt class="w-px-30 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="{{ asset('sneat-1.0.0/assets/img/avatars/1.png') }}" alt class="w-px-30 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">John Doe</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li><div class="dropdown-divider"></div></li>
                                    <li><a class="dropdown-item" href="#"><i class="bx bx-user me-2"></i> <span class="align-middle">My Profile</span></a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bx bx-cog me-2"></i> <span class="align-middle">Settings</span></a></li>
                                    <li><div class="dropdown-divider"></div></li>
                                    <li><a class="dropdown-item" href="#"><i class="bx bx-power-off me-2"></i> <span class="align-middle">Log Out</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- / Navbar -->

                <!-- Contenu -->
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="abonnement-wrapper">
                            <!-- En-tête -->
                            <div class="header-section">
                                <h1><i class="bi bi-pencil-square me-2"></i>Modifier l'abonnement</h1>
                            </div>

                            <!-- Messages flash -->
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <i class="bi bi-check-circle me-2"></i>{{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <i class="bi bi-exclamation-triangle me-2"></i>{{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}

                            <!-- Formulaire -->
                            {{ form_start(form, {'attr': {'class': 'row g-4'}}) }}
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        {{ form_label(form.service, null, {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.service, {'attr': {'class': 'form-select'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.service) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        {{ form_label(form.typeAbonnement, null, {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.typeAbonnement, {'attr': {'class': 'form-select'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.typeAbonnement) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        {{ form_label(form.dateDebut, null, {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.dateDebut) }}</div>
                                    </div>
                                </iego<div class="col-md-6">
                                    <div class="mb-3">
                                        {{ form_label(form.dateFin, null, {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.dateFin) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 form-check">
                                        {{ form_widget(form.estActif, {'attr': {'class': 'form-check-input'}}) }}
                                        {{ form_label(form.estActif, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.estActif) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 form-check">
                                        {{ form_widget(form.estGratuit, {'attr': {'class': 'form-check-input'}}) }}
                                        {{ form_label(form.estGratuit, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.estGratuit) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        {{ form_label(form.prixTotal, null, {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.prixTotal, {'attr': {'class': 'form-control', 'step': '0.01', 'placeholder': 'Prix en €'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.prixTotal) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        {{ form_label(form.statut, null, {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.statut, {'attr': {'class': 'form-select'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.statut) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        {{ form_label(form.nombreSeancesRestantes, null, {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.nombreSeancesRestantes, {'attr': {'class': 'form-control'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.nombreSeancesRestantes) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 form-check">
                                        {{ form_widget(form.autoRenouvellement, {'attr': {'class': 'form-check-input'}}) }}
                                        {{ form_label(form.autoRenouvellement, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.autoRenouvellement) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" id="dureeMoisContainer">
                                    <div class="mb-3">
                                        {{ form_label(form.dureeMois, null, {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.dureeMois, {'attr': {'class': 'form-control'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.dureeMois) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        {{ form_label(form.modePaiement, null, {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.modePaiement, {'attr': {'class': 'form-select'}}) }}
                                        <div class="form-errors text-danger">{{ form_errors(form.modePaiement) }}</div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-between mt-4">
                                    <a href="{{ path('app_abonnement_index') }}" class="btn btn-secondary">
                                        <i class="bi bi-arrow-left me-2"></i>Retour à la liste
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-save me-2"></i>Enregistrer
                                    </button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>

                    <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                © {{ "now"|date("Y") }}, made with ❤️ by beeu
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <!-- Bouton "Upgrade to Pro" -->
    <div class="buy-now">
        <a href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/" target="_blank" class="btn btn-danger btn-buy-now">Upgrade to Pro</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('sneat-1.0.0/assets/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ asset('sneat-1.0.0/assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ asset('sneat-1.0.0/assets/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ asset('sneat-1.0.0/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ asset('sneat-1.0.0/assets/vendor/js/menu.js') }}"></script>
    <script src="{{ asset('sneat-1.0.0/assets/js/main.js') }}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Gestion des alertes temporisées
            setTimeout(() => {
                document.querySelectorAll('.alert').forEach(alert => alert.classList.remove('show'));
            }, 5000);

            // Initialisation de Flatpickr pour les champs de date
            flatpickr("#abonnement_dateDebut", {
                dateFormat: "d/m/Y",
                allowInput: true,
                placeholder: "JJ/MM/AAAA"
            });
            flatpickr("#abonnement_dateFin", {
                dateFormat: "d/m/Y",
                allowInput: true,
                placeholder: "JJ/MM/AAAA"
            });

            // Gestion de estGratuit
            const estGratuitCheckbox = document.querySelector('#abonnement_estGratuit');
            const prixTotalInput = document.querySelector('#abonnement_prixTotal');

            function togglePrixTotal() {
                if (estGratuitCheckbox.checked) {
                    prixTotalInput.value = '0.00';
                    prixTotalInput.disabled = true;
                } else {
                    prixTotalInput.disabled = false;
                }
            }

            estGratuitCheckbox.addEventListener('change', togglePrixTotal);
            togglePrixTotal();

            // Gestion de autoRenouvellement et dureeMois
            const autoRenouvellementCheckbox = document.querySelector('#abonnement_autoRenouvellement');
            const dureeMoisContainer = document.querySelector('#dureeMoisContainer');
            const dureeMoisInput = document.querySelector('#abonnement_dureeMois');

            function toggleDureeMois() {
                if (autoRenouvellementCheckbox.checked) {
                    dureeMoisContainer.style.display = 'none';
                    dureeMoisInput.value = '';
                    dureeMoisInput.disabled = true;
                } else {
                    dureeMoisContainer.style.display = 'block';
                    dureeMoisInput.disabled = false;
                }
            }

            autoRenouvellementCheckbox.addEventListener('change', toggleDureeMois);
            toggleDureeMois();
        });
    </script>
{% endblock %}